<html>
  <head>
    <meta charset="UTF-8">
    <title>HarborJS</title>
    <link href="/public/css/bootstrap.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HARBORJS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right cl-effect-13">
            <li><a href="dashboard.html">DASHBOARD</a></li>
            <li><a href="/">SSH-KEY</a></li>
            <li><a href="#">LOGOUT</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container pt">
      <div class="row mt">
	<div class="col-lg-8 col-lg-offset-2">
	  <div id=containerCreate>
		<div class="centered col-lg-2">
			<input id="createbtn" class="btn btn-success" type="submit" value="Create app" onlick="containerCreate()"></input>
		</div>
		<div class="centered col-lg-3">
			<input id="appname" class="form-control" placeholder="App Name"></input>
		</div>
		<div class="centered col-lg-2">
			<input id="createdb" class="btn btn-default" type="submit" value="Create DB" onclick="dbCreate()"></input> 
		</div>
		<div class="centered col-lg-3">
			<input id="dbname" class="form-control" placeholder="DB Name"></input>
		</div>
	  </div>
	</div>
	<div class="centered col-lg-8 col-lg-offset-2">
    <br/>
		<h1>App list</h1>
		<div id=containerList></div>
		<br/>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        var socket = io.connect('/');
        function deleteContainer(item){
          var idcont = $(item).attr("id");
          socket.emit('containerId',idcont);
          idcont.remove();
        }
        function dbCreate(){
          var name = document.getElementById('dbname').value;
          socket.emit('dbname', name);
        }
        socket.on('container',function(data){
          if(data.length==0){
            $('<p>No running apps</p>').prependTo('#containerList');
          }
          else{
            for(var i=0; i<data.length; i++){
              $('<div id="'+data[i].Id+'" class="panel panel-default"><table class="table"><tbody>'
              +'<td>'+data[i].Image+'</td><td>'+data[i].Status+'</td><td>'+data[i].Command+
	     '</td><td><input type="submit" class="btn btn-danger" value="Delete app" id='+data[i].Id+' onclick=deleteContainer(this)></input>'
		+'</td></tbody></table></div></div>').prependTo('#containerList');
            }
          }
      });
    </script>
  </body>
</html>
