<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HarborJS</title>
  <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body class="home">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="text-center">
          <h1><span class="fa fa-anchor"></span> HarborJS</h1>
          <p>Deploy and manage your apps on dokku</p>
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        </div>
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
