<!doctype html>
<html>
<head>
  <title>HarborJS</title>
  <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">-->
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">HARBORJS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right cl-effect-13">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profile">Account</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container pt">
      <div class="row mt">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="text-center">
            <h2>Your Profile</h2>
          </div>
          <hr>
          <h3><span class="fa fa-user"></span> Account information</h3>
             <% if (user.local.username) { %>
               <p>
                 <strong>id</strong>: <%= user._id %><br>
                 <strong>username</strong>: <%= user.local.username %><br>
               </p>
               <a href="/unlink/local" class="btn btn-danger">Unlink Account</a>
              <% } %>
              <hr>
              <h3><span class="fa fa-lock"></span> SSH-KEY</h3>
              <br>
              <input id="username" type="text" name="username input" class="form-control disable" placeholder="Enter the name of your computer followed by your username. e.g. :  ubuntupierre"/>
              <br>
              <textarea id="ssh" type="text" name="sshinput" class="form-control" rows="6" placeholder="Enter your ssh key here"></textarea>
              <br>
              <input id="sshsub"  class="btn btn-info" type="submit" onclick="sendkey()"></input>
            </div>
          </div>
        </div>
      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script>
        var socket = io.connect('/');
        function teststring(mystr){
          if(mystr.match(/[;|""|'']/)){
            console.log("Error");
            return false;
          }
          return true;
        }
        function sendkey(){
          var mysshkey = document.getElementById('ssh').value;
          var name = document.getElementById('username').value;
          if(teststring(mysshkey)&& teststring(name)){
            socket.emit('sshkey',{mysshkey : mysshkey, name : name});
            window.setTimeout('location.reload()', 1000);
          }
        }
      </script>
    </body>
</html>
