body.home { 
  background: url(../img/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 200px;
}

.navbar-inverse{
  background-color: #4A89DC;
  border-color: #4A89DC;

}

.navbar-inverse .navbar-brand{
  color: white;
}

.navbar-inverse .navbar-nav > li > a{
  color: white;
}
