<html>
  <head>
    <meta charset="UTF-8">
    <title>HarborJS</title>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">HARBORJS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right cl-effect-13">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profile">Account</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container pt">
      <div class="row mt">
        <div class="col-lg-6 col-lg-offset-2">
          <div class="text-centered">
            <h3>New container</h3>
              <h3>Register App</h3>
                <form action="/create" method="post">
                  <div class="form-group">
                    <label>app name</label>
                      <input type="text" class="form-control" name="name"/><br>
                  </div>
                  <div class="form-group">
                  <label>username</label>
                  <input type="text" class="form-control" name="user" value="<%= user.local.username%>"/><br>
                  </div>
                  <button type="submit" class="btn btn-success">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="../socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </body>
</html>
